# Python data types;integers and floats.

# Here am dealing with python data types integer and Foat

# integer- These are whole numbers, they could be negative or positive numbers.

In [ ]:
num = 4


print(type(num))

<class 'int'>

In [ ]:
num = 4.432


print(type(num))

<class 'float'>

# float - these numbers reprsent real numbers and are written with a decimal point dividing the integer and flactional part